.edit {
  width: 100%;
}

.edit-card {
  position: relative;
  margin-top: 10px;
  border-bottom: 3px solid #74b9ff;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  font-size: 20px;
  color: #636e72;
}

@media (max-width: 767px) {
  .edit-card {
    font-size: 17px;
  }
}

.edit-card:first-child {
  margin-top: 0;
}


.edit-delete {
  position: absolute;
  font-size: 30px;
  top: calc(50% - 15px);
  right: 10px;
  color: #d63031;
  cursor: pointer;
}

.edit-addword {
  margin-top: 20px;
}

.edit-button {
  margin-top: 20px;
}


.edit-button:hover {
  color: white;
}

/* change set name */

.edit-setname {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 20px;
}

.edit-setname_marker {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #636e72;
  bottom: 0;
}

.set-name {
  font-size: 20px;
  font-weight: 600;
}

.edit-setname a {
  margin-left: 20px;
}

.change-setname {
  width: 500px;
  padding: 0 20px;
  margin: 50px auto;
}

.hide {
  visibility: hidden;
}

.change-success-alert,
.change-error-alert {
  margin-top: 50px;
  display: none;
  /* visibility: hidden; */
  transition: ease-in 1s;
}



