.edit {
  width: 100%;
}

.edit-card {
  position: relative;
  margin-top: 10px;
  border-bottom: 3px solid #74b9ff;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  font-size: 20px;
  color: #636e72;
}

@media (max-width: 767px) {
  .edit-card {
    font-size: 17px;
  }
}

.edit-card:first-child {
  margin-top: 0;
}


.edit-delete {
  position: absolute;
  font-size: 30px;
  top: calc(50% - 15px);
  right: 10px;
  color: #d63031;
  cursor: pointer;
}

.edit-addword {
  margin-top: 20px;
}

.edit-button {
  margin-top: 20px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 18px;
  border: 1px solid #0b5ed7;
  background-color: #0b5ed7;
  border-radius: 4px;
  color: white;
}


.edit-button:hover {
  color: white;
}