.games {
  margin-top: 20px;
  padding: 10px;
  width: 320px;
  height: 200px;
  background-color: white;
}

.games-title {
  text-align: center;
  font-size: 20px;
}

.games-train {
  display: flex;
  flex-direction: column;
}

.games a {
  text-decoration: none;
  font-size: 20px;
}

.check-answer {
  width: 100%;
  margin-top: 30px;
  display: flex;
}