.listening-container h2 {
  text-align: center;
}

.listening-sound {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 40px;
}

.listening_sound-container {
  width: 100%;
}


.listening_sound-content {
  display: flex;
  align-items: center;
}

.container-marker-hint {
  display: flex;
  align-items: center;
  color: red;
}

.container-marker-hint svg {
  font-size: 35px;
}

.hint {
  color: red;
}

.answer-container {
  position: relative;
}

.answer-container .answer-help {
  position: absolute;
  opacity: 0;
  top: 5px;
  right: 10px;
  visibility: hidden;
  transition: 1s opacity, 1s visibility;
}



.answer-button {
  margin-right: 10px;
}