.results {
  width: 400px;
  font-size: 20px;
}

.right-answers,
.wrong-answers {
  margin-top: 20px;
}

.true-answer {
  color: #00b894;
}

.false-answer {
  display: flex;
  justify-content: space-between;
  color: #ff7675;
}

.user-false-answer {
  text-decoration: line-through;
}

.button-link {
  display: block;
  height: 100%;
  color: white;
  text-decoration: none;
}

.button-link:hover {
  color: white;
}

