.results {
  margin-top: 20px;
  padding: 0 20px;
  width: 400px;
  font-size: 20px;
}

.results h2 {
  margin-bottom: 40px;
}



.right-answers,
.wrong-answers {
  margin-top: 20px;
}

.true-answer {
  color: #00b894;
}

.false-answer {
  color: #ff7675;
}

.user-false-answer {
  text-decoration: line-through;
}

.res_answers {
  position: relative;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.answer-marker {
  position: absolute;
  top: calc(50% - 35px);
  left: 0;
  height: 70px;
  width: 3px;
  /* background-color: #00b894; */
}

.res-true_answer,
.res-false_answer {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 40px;
}

.res-true_answer {
  color: #00b894;
}

.res-false_answer {
  color: #d63031;
}

.counter-answers {
  margin-top: 20px;
  margin-bottom: 20px;
}


