.word-translate {
  font-size: 30px;
}

.user-answer {
  margin-top: 30px;
  width: 100%;
  position: relative;
}

.marker {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  right: 5px;
  top: 5px;

  transition: .5s;
}

.spelling-true-answer {
  position: absolute;
  top: 5px;
  right: 20px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}



.show-results {
  margin-top: 20px;
}

.show-results a {
  display: block;
  height: 100%;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.show-results a:hover {
  color: white;
}