#root {
  min-height: 100vh;
  width: 100%;
}

/* .main-container {
  margin: 0 auto;
  width: 500px;
} */

/* @media (max-width: 510px) {
  .main-container {
    width: 440px;
  }
}

@media (max-width: 440px) {
  .main-container {
    width: 320px;
  }
} */

.main-button {
  background-color: #0984e3; 
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

.main-button:hover {
  color: white;
}

.max-width {
  width: 100%;
}

