.create-sets-container {
  width: 100%;
  margin: 50px auto;
  padding: 0 20px;
}

.create-sets-container__alerts {
  width: 100%;
  position: relative;
}

.my-alert{
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  padding: 10px;
  font-size: 20px;
  color: white;

  opacity: 0;
  transition: opacity 0.6s;
}

.create-set {
  width: 100%;
  min-height: 50px;
}

.create-word {
  margin-top: 50px;
}

.create-word:nth-child(1) {
  margin-top: 0;
}

.button-controls {
  display: flex;
}

.save {
  margin-left: 10px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}