.create-sets-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.create-set {
  width: 100%;
  min-height: 50px;
  margin-top: 100px;
}

.create-words {
  margin-top: 100px;
}


.create-word {
  margin-top: 50px;
}

.create-word:nth-child(1) {
  margin-top: 0;
}

.button-controls {
  display: flex;
}

.save {
  margin-left: 10px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}