.create-sets-container {
  margin: 20px auto;
  padding: 20px;
  width: 500px;
}

@media (max-width: 767px) {
  .create-sets-container {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .create-sets-container {
    width: 320px;
  }
}

.create-set {
  width: 100%;
}


.button-controls {
  display: flex;
}

.save {
  margin-left: 10px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}