header {
  background-color: #0984e3;
  color: white;
  font-size: 25px;
}

.links {
  display: flex;
  padding: 20px 0;
}

.links a {
  color: white;
  text-decoration: none;
}

.links a:first-child {
  margin-right: 20px;
}


header a:hover {
  color: white;
}