header {
  margin: 0 auto;
  width: 500px;
  height: 50px;
  background-color: #0984e3;
  color: white;
  font-size: 25px;
}

@media (max-width: 510px) {
  header {
    width: 400px;
  }
}

@media (max-width: 440px) {
  header {
    width: 320px;
  }
}

header a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}


header a:hover {
  color: white;
}