
.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper {
  height: 300px;
  margin-top: 50px;
  position: relative;
}

.slider-arrows {
  margin: 0 auto;
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-counter {
  display: flex;
}

.slider-counter div {
  margin: 0 5px;
}


.flip-card {
  position: absolute;
  top: calc(50% - 135px);
  left: calc(50% - 190px);
  width: 380px;
  height: 270px;
  font-size: 30px;
  perspective: 1000px;
  cursor: pointer;
}

@media (max-width: 450px) {
  .flip-card {
    width: 340px;
    left: calc(50% - 170px);
  }
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform .8s;
  transform-style: preserve-3d;
}

.is-flipped.flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-inner {
  position: relative;
}

.sound {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.flip-card-front {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: mintCream; */
  background-color: #74b9ff;
  /* color: darkslategray; */
  color: #2d3436;
  font-family: sans-serif;
}


.flip-card-back {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: mintCream; */
  background-color: #74b9ff;
  color: #2d3436;
  /* color: darkslategray; */
  transform: rotateX(180deg);
  font-family: sans-serif;
}

.card-word_translate {
  margin-bottom: 10px;
}

.card-word_phrase {
  font-size: 20px;
  margin-left: 15px;
}

.cards-control {
  width: 150px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-prev {
  margin-right: 10px;
}

.button-next {
  margin-left: 10px;
}

.arrow {
  font-size: 40px;
  color: #636e72;
  cursor: pointer;
}
