.set-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.sets {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.set {
  height: 50px;
  border-radius: 10px;

  padding: 5px;
  color: white;
  font-size: 20px;
  transition: .2s;
}

.set:hover {
  transform: scale(1.03,1.03);
}

.set:last-child {
  margin-right: 0;
}

.link {
  color: white;
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.link:hover {
  color: white;
}

.set-link {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #a29bfe;
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

.set-link:hover {
  text-decoration: none;
  color: white;
}