.video-container {
  margin: 20px auto;
  width: 500px;
}

@media (max-width: 510px) {
  .video-container {
    width: 400px;
  }
}

@media (max-width: 440px) {
  .video-container {
    width: 320px;
  }
}

.video {
  width: 100%;
}